[Unit]
Description=NAJACKS Spring Boot Backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user
ExecStart=/usr/bin/java -jar /home/ec2-user/backend-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=5
StandardOutput=append:/home/ec2-user/app.log
StandardError=append:/home/ec2-user/app.log

EnvironmentFile=/etc/najacks.env

[Install]
WantedBy=multi-user.target
